* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  max-width: 1800px;
}

h1 {
  text-align: center;
  margin: 2rem 1rem;
  font-size: 3rem;
  font-weight: 200;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 720px) {
  #app {
    margin: 0 30px;
  }
}
